/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /**
   * colors
   */

    /* gradient */

    --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);

    --bg-gradient-jet: linear-gradient(
            to bottom right,
            hsla(240, 1%, 18%, 0.251) 0%,
            hsla(240, 2%, 11%, 0) 100%
        ),
        hsl(240, 2%, 13%);

    --bg-gradient-yellow-1: linear-gradient(
        to bottom right,
        hsl(45, 100%, 71%) 0%,
        hsla(36, 100%, 69%, 0) 50%
    );

    --bg-gradient-yellow-2: linear-gradient(
            135deg,
            hsla(45, 100%, 71%, 0.251) 0%,
            hsla(35, 100%, 68%, 0) 59.86%
        ),
        hsl(240, 2%, 13%);

    --border-gradient-onyx: linear-gradient(
        to bottom right,
        hsl(0, 0%, 25%) 0%,
        hsla(0, 0%, 25%, 0) 50%
    );

    --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));

    /* solid */

    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --eerie-black-3: hsl(0, 0%, 45%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --green-active: hsl(173, 63%, 40%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
	--title-color: hsl(174, 12%, 15%);

    /**
   * typography
   */

    /* font-family */
    --ff-poppins: "Poppins", sans-serif;

    /* font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;

    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    /**
   * shadow
   */

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

    /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}

/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input,
textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--orange-yellow-crayola);
    color: var(--smoky-black);
}

:focus {
    outline-color: var(--orange-yellow-crayola);
}

html {
    font-family: var(--ff-poppins);
}

body {
    background: var(--white-1);
}

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}

/*=============== Home ===============*/
.choose-list {
    position: absolute;
    width: 100%;
    padding-bottom: 60px;
    z-index: 1;
}

.choosebutton {
	display: flex;
	width: 100%;
	height: 25vh;
	justify-content: center;
    align-items: center;
}

.choosebutton a {
	color: var(--eerie-black-1);
	font-size: var(--fs-1); 
	padding: 30px;
}

.choosebutton a:hover {
	scale: 1.1;
	color: var(--jet);
}

.choosebutton:is(:last-child) {
    margin-bottom: 15px;
}

/*=============== NAV ===============*/

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    /* background: var(--white-1); */
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar-link {
    display: flex;
    text-align: center;
	padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  
.navbar-link samp{
    color: var(--light-gray);
    font-size: var(--fs-4);
    transition: color var(--transition-1);
    display: none;
}

.navbar-link:hover samp, .navbar-link.active:hover samp{
    color: var(--light-gray-70);
}

.navbar-link.active samp{
    color: var(--orange-yellow-crayola);
}


/*=============== list bar ===============*/
.list-bar {
    /* overflow: hidden; */
    background-color: skyblue;
    margin: 20px 10px;;
    /* padding: 20px 10px; */
    font-size: var(--fs-6);
    margin-bottom: 1px;
}

.list-item {
    /* overflow: hidden; */
    background-color: skyblue;
    /* padding: 20px 10px; */
    font-size: var(--fs-8);
}

/*=============== Sensor-location ===============*/

.sensor-location {
    display: table-row;
    /* justify-content: space-around;
    align-items: center; */
    /* margin: 20px 10px; */
}

.sensor-location-locationID
, .sensor-location-locationName
, .sensor-location-temperature
, .sensor-location-humidity
, .sensor-location-dashboard
, .sensor-location-total
, .sensor-location-active
, .sensor-location-stop  {
    text-align: center;
    display: table-cell;
    width: 10%;
    padding: 20px 10px;
}



/* ************************************* */
table, th, td {
		border: 1px solid black;
	}

* {box-sizing: border-box;}

body { 
	margin: 0;
	font-family: Roboto, sans-serif;  /*Arial, Helvetica, */
}

hr {
	margin: 0.5px 0;
}

.header {
    display: flex;
    width: 100%;
	background: var(--light-gray);
	padding: 20px 10px;
    z-index: 5;
}

.logo {
    display: flex;
	font-size: var(--fs-1);
    color: var(--eerie-black-1);
	font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main .sensordashboard{
	overflow: hidden;
	background-color: skyblue;
	padding: 20px 10px;
}

main .sensordashboard a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
}

main .sensordashboard a.active {
	background-color: lightgreen;
	color: black;
}

main .sensordashboard a.down {
	background-color: red;
	color: black;
}

main .sensordashboard a.modify {
	background-color: #f1f1f1;
	color: black;
}

main .sensordashboard .sensordashboard-right {
	float: right;
}

@media screen and (min-width: 320px) {
    .navbar-link samp {
      display:block;
    }
}

@media screen and (min-width: 450px) {
    /* .navbar-link samp {
      display:block;
    } */

    .navbar-link {
        flex-direction: row;
    }
}

@media screen and (min-width: 600px) {

    :root {
        --fs-1: 42px;
        --fs-2: 38px;
        --fs-3: 34px;
        --fs-4: 30px;
        --fs-6: 26px;
        --fs-7: 18px;
        --fs-8: 14px;
    }

    .header {
        padding: 15px 10px;
        justify-content: space-between;
    }

    .navbar {
        position: relative;
        right: 0;
        background: none;
        border: 0;
        box-shadow: none;
    }

    .navbar-list{
        column-gap: 40px;
    }

    .navbar-link samp {
        color: var(--eerie-black-1);
    }

    .navbar-link.active samp{
        color: var(--green-active);
    }

    .navbar-link .icon-box {
        display: none;
    }

    .navbar-link:hover samp, .navbar-link.active:hover samp {
        color: var(--eerie-black-3);
    }

    /* .navbar-link.active::after {
        color: var(--orange-yellow-crayola);
    } */

    .navbar-link.active::before {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 4px;
        height: 4px;
        background-color: var(--green-active);
        border-radius: 50%;
      }
    
}


/* @media screen and (min-width: 1200px) {

    :root {
        --fs-1: 60px;
        --fs-2: 56px;
        --fs-3: 52px;
        --fs-4: 44px;
        --fs-6: 36px;
        --fs-7: 28px;
        --fs-8: 20px;
    }

    .header {
        padding: 15px 10px;
        justify-content: space-between;
    }
} */